
*{
    margin: 0;
    padding: 0;
}
body{background-color: #222; font-family: 'Courier New', Courier, monospace;}
.contaner{margin: 50px auto;width: 100%;}
li{list-style: none; border: 1px solid rgb(78, 69, 69);line-height: 60px; width: 60px;height: 60px;text-align: center;border-radius: 15px;color: rgb(247, 233, 233);font-size: 1.8em;font-weight: bold;}
.box1{background-color: red;}
.box2{background-color: orangered;}
.box3{background-color: lawngreen;color: #999;}
.box4{background-color:green;}
.box5{background-color:blue;}
.box6{background-color:rgb(58, 3, 58);}
input{ margin-left: 40px; border-radius: 8px; border:2px solid transparent; padding: 5px 8px;width:62px;color: #ccc;}
input:hover{border: 2px solid rgb(51, 109, 216)}
.start{background-color: #444; border: 2px solid rgb(40, 161, 218); border-radius: 8px; }
.stop{background-color: rgb(243, 30, 190);border: 2px solid rgb(40, 161, 218); border-radius: 8px;}
.reset{background-color: #666;border: 2px solid rgb(40, 161, 218); border-radius: 8px;}
ul{display: grid; grid-template-columns:  62px 62px 62px 62px 62px 62px;margin: 20px auto;gap: 0px;text-align: center;width:372px;}
.form{text-align: center; margin-left: -350px;}
h2 {color: #fff;  font-size: 1.2em; padding: 10px 0px;letter-spacing: 0.5em; border:3px solid rgb(4, 14, 100);border-radius: 12px; background-color: turquoise;width:372px;text-align: center;}
h2 a{color: #fff; text-decoration: none; display: block;text-align: center;}
.radom_creater{width:372px; margin: 50px auto; }
.list{text-align: center;}
h1{margin: 50px  20px auto; color: #fff; font-size: 1.5em;}
.image{display: inline-block; margin-bottom: -8px; margin-right: -8px; width: 100px; height: 30px; background-image: url('./img/img_gnb_game1.jpg'); background-repeat: no-repeat; background-position: 0px, -50px;
}
footer{color:#fff; position: absolute; bottom: 0px; left: 50%; margin-left: -168px;}
.ad{position: absolute; bottom: 60px;}
.add{margin-top: 30px;}